body{
    margin: 0;
    padding: 0;
    font:12px Arial;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#tete{
    width: 100%;
    height: auto;
   
}

#principal{
    width: 730px;
    height: 52vh;
 
   
}


input{
    padding: 3% 20%;
    margin-top: 2vh;
    border: 1px solid black;
    border-radius: 5px;
} 
input:hover{
    background-color: #313339;
    outline-color: #1a7297;
}


label{ 
       
	font-size: 14px; 
	font-weight: bold; 
	 color: black;
     
 } 
 fieldset{
     height: 87vh;
     /* margin-top: -5.5vh; */
 }
   
#principal{
    display: flex;
}

.gauche{
    margin-top: 8vh;
    margin-left: 20px;
    
}
.droite{
    margin-top: -2vh;
   
	margin-left: 25%;
}

button{
	margin-top: 10vh;
    width: 15%;
    background-color: #8c8f99;
    padding: 1.1% 1.5%;
    color: rgb(170, 22, 22);
    font-weight: bold;
    font-size: 18px;
    border-radius: 9px;
    margin-left: 300px
}
button:hover{
    background-color: #a33722;
}